body {
    font-family: sans-serif;
    overflow-x: hidden;
}

h1 {
    margin: 10px 10px;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-family: 'Darker Grotesque', sans-serif;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 2px #000;
}

h2, h3 {
    text-align: center;
}

.beer-details-container {
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;

}

.grid-container {
    
    /* margin: 0 auto; */
    width: 55vw;
    height: 100%;
    display: grid;
    grid-template-columns: 28% 8% 28% 8% 28%;
    grid-template-rows: 7% 15% 25% 40%;
    grid-template-areas: 
    "abvHeader . ibuHeader . ebcHeader"
     "abv . ibu . ebc" 
    " main main main main main" 
    "desc desc desc desc desc" ;
}

.grid-item-header-abv, .grid-item-header-ibu, .grid-item-header-ebc {
    justify-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCA824;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.grid-item-header-abv {
    grid-area: abvHeader;
}

.grid-item-header-ibu {
    grid-area: ibuHeader;
}

.grid-item-header-ebc {
    grid-area: ebcHeader;
}

.grid-item-ibu, .grid-item-ebc, .grid-item-abv {
    justify-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    background-color:rgba(245, 183, 82, 0.158);
    border-radius: 5px;
    border-top: none;
}

.grid-item-abv {
    grid-area: abv;
}

.grid-item-ibu {
    grid-area: ibu;
}

.grid-item-ebc {
    grid-area: ebc;
}

.grid-item-main {
    grid-area: main;
    place-self: center;
}

.grid-item-desc {
    grid-area: desc;
}

ul {
    margin-bottom: 20px;
}

li {
    list-style: none;
    position: relative;
    font-size: 16px;
    line-height: 1.2;
    padding: 30px 0 0 25px;
}

li::before {
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    content: "";
    font-size: 16px;
    position: absolute;
    left: -20px;
    top: 22px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #FCA824;
}

.charts-container {
    width: 25vw;
    height: 100%;
    margin-top: 50px;
}

/* .brewed::before {
    background-image: url(../img/distillatory.png);
}

.description::before {
    background-image: url(../img/information.png);
}

.food_pairing::before {
    background-image: url(../img/restaurant.png);
}

.brewers_tips::before {
    background-image: url(../img/light-bulb.png);
} */