button {
    font-family: 'Roboto', sans-serif;
    outline:none;
    cursor: pointer;
    border: none;
}
.btn-fav, .btn-get {
    background-color: #31357F; 
    border-radius: 25px;
    color: white;
    padding: 16px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 10px;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.17);
}

.btn-fav:hover, .btn-get:hover {
    background-color: #191C47; 
    color: white; 
}

.btn-fav {
    position: relative;
    font-size: 16px;
}

.btn-delete, .btn-sign, .btn-close {
    border-style: none;
    background-color: transparent;
    font-size: 25px;
    color: #191C47;
}

.btn-sign {
    font-size: 16px;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    /* fill: rgb(232, 240, 254); */
}

.btn-submit {
    margin-bottom: 20px;
    width: 400px;
    padding: 16px 20px;
    background-color: rgb(211, 211, 230);
    box-sizing: border-box;
    border-radius: 25px;
    color: rgb(43, 42, 42);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.17);
    transition-duration: 0.4s;
}
.btn-submit:hover {
    background-color: rgb(184, 184, 221);
}

