nav {
    width: 100%;
    height: 60px;
    background-color: #ffa823;
    color: white;
}

h1 {
    font-size: 72px;
    color: white;
    text-transform: uppercase;
}

.nav-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-pg-container {
    height: calc(100vh - 60px);
    background-image: url(/src/img/5726.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    
}

article {
    padding: 50px 0;
    margin: 0 auto;
    text-align: center; 
}

article > p {
    margin: 20px auto;
    width: 500px;
    font-size: 24px;
    color: white;
}

button {
    background-color: #31357F; 
    border: none;
    border-radius: 25px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
button:hover {
    background-color: #191C47; 
    color: white; 
}