.landing-pg-container {
    height: calc(100vh - 60px);
    background-image: url(/src/img/5726.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

article {
    padding: 50px 0;
    margin: 0 auto;
    text-align: center; 
}

article > p {
    margin: 20px auto;
    width: 500px;
    font-size: 24px;
    color: #222557;
}

