nav {
    width: 100%;
    height: 60px;
    background-color: #ffa823;
    color: white;
}

.nav-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    width: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}