body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 72px;
  color: white;
  margin: 30px 0;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  color: black;
  margin: 10px 0;
}

h3 {
  font-size: 18px;
  color: black;
}

.loader-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif; */